.heading{
   font-size: 4rem;
  color: #F156FA;
  font-weight: 700;
  text-align: left;
  padding-left: 10%;
  font-family: 'Android 101';
  text-shadow: #F156FA 0 0 8px;

}
.imagediv{
    padding-top: 20px;
}
.image{
    height: 500px;
    width: 50%;
    border: 2px solid #F156FA;
    border-radius: 5px;
    box-shadow: 0px 0px  30px -2px #F156FA;
}

.name{
    font-size: 3rem;
    color: #F156FA;
    font-weight: 600;
    font-family: 'Android 101';

}
.venue{
    font-size: 2rem;
    color: #F156FA;
    font-weight: 600;
    margin-top: -50px;
    font-family: 'Android 101';

}
@media (max-width: 600px)  {
    .heading{
        font-size: 2.2rem;
        text-align: center;
        padding-left: 0px;
    }
    .image{
        height: 400px;
        width: 85%;
    }
    .name{
        font-size: 1.7rem;
    }
    .venue{
        margin-top: -20px;

        font-size: 1rem;
    }
    
}